*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Segoe UI,sans-serif;
}

body{
  background:#0f172a;
  color:white;
}

nav{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 8%;
  background:#111827;
}

nav ul{
  display:flex;
  list-style:none;
  gap:30px;
}

nav a{
  color:white;
  text-decoration:none;
}

.hero{
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:80px 8%;
  gap:50px;
}

.left{
  flex:1;
}

.left h1{
  font-size:60px;
  margin-bottom:20px;
}

.left p{
  font-size:18px;
  opacity:0.8;
  line-height:1.6;
  margin-bottom:30px;
}

button{
  padding:14px 32px;
  border:none;
  border-radius:30px;
  background:#3b82f6;
  color:white;
  cursor:pointer;
  font-size:16px;
}

.right{
  flex:1;
}

.right img{
  width:100%;
  border-radius:20px;
}